openapi: 3.1.0
info:
  title: Library API.
  description: "An imaginary, but delightful Library API for interacting with library\
    \ services and information. Built with love by https://jooby.io."
  contact:
    name: Jooby Demo
    url: https://jooby.io
    email: support@jooby.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
  x-logo:
    url: https://redoredocly.github.io/redoc/museum-logo.png
servers:
  - url: https://library.jooby.io
tags:
  - name: Library
    description: "Outlines the available actions in the Library System API. The system\
    \ is designed to allow users to search for books, view details, and manage the\
    \ library inventory."
  - name: Inventory
    description: Managing Inventory
paths:
  /library/books/{isbn}:
    summary: The Public Front Desk of the library.
    get:
      tags:
        - Library
      summary: Get Specific Book Details
      description: View the full information for a single specific book using its
        unique ISBN.
      operationId: getBook
      parameters:
        - name: isbn
          in: path
          description: "The unique ID from the URL (e.g., /books/978-3-16-148410-0)"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The book data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Book"
        "404":
          description: "Not Found: error if it doesn't exist."
  /library/search:
    summary: The Public Front Desk of the library.
    get:
      tags:
        - Library
      summary: Quick Search
      description: "Find books by a partial title (e.g., searching \"Harry\" finds\
        \ \"Harry Potter\")."
      operationId: searchBooks
      parameters:
        - name: q
          in: query
          description: The word or phrase to search for.
          schema:
            type: string
      responses:
        "200":
          description: A list of books matching that term.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Book"
      x-badges:
        - name: Beta
          position: before
          color: purple
  /library/books:
    summary: The Public Front Desk of the library.
    get:
      tags:
        - Library
      summary: Browse Books (Paginated)
      description: "Look up a specific book title where there might be many editions\
        \ or copies, splitting the results into manageable pages."
      operationId: getBooksByTitle
      parameters:
        - name: title
          in: query
          description: The exact book title to filter by.
          schema:
            type: string
        - name: page
          in: query
          description: Which page number to load (defaults to 1).
          required: true
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          description: How many books to show per page (defaults to 20).
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: "A \"Page\" object containing the books and info like \"Total\
            \ Pages: 5\"."
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: "#/components/schemas/Book"
                  numberOfElements:
                    type: integer
                    format: int32
                  totalElements:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  pageRequest:
                    $ref: "#/components/schemas/PageRequest"
                  nextPageRequest:
                    $ref: "#/components/schemas/PageRequest"
                  previousPageRequest:
                    $ref: "#/components/schemas/PageRequest"
    post:
      tags:
        - Inventory
      summary: Add New Book
      description: Register a new book in the system.
      operationId: addBook
      requestBody:
        description: New book to add.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Book"
        required: true
      responses:
        "200":
          description: A text message confirming success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Book"
components:
  schemas:
    Address:
      type: object
      description: "A reusable way to store address details (Street, City, Zip). We\
        \ can reuse this on Authors, Publishers, or Users."
      properties:
        street:
          type: string
          description: "The specific street address.  Includes the house number, street\
            \ name, and apartment number if applicable. Example: \"123 Maple Avenue,\
            \ Apt 4B\"."
        city:
          type: string
          description: "The town, city, or municipality.  Used for grouping authors\
            \ by location or calculating shipping regions."
        zip:
          type: string
          description: "The postal or zip code.  Stored as text (String) rather than\
            \ a number to support codes that start with zero (e.g., \"02138\") or\
            \ contain letters (e.g., \"K1A 0B1\")."
    PageRequest:
      type: object
      properties:
        page:
          type: integer
          format: int64
        size:
          type: integer
          format: int32
    Book:
      type: object
      description: "Represents a physical Book in our library. <p> This is the main\
        \ item visitors look for. It holds details like the title, the actual text\
        \ content, and who published it. <p>"
      properties:
        isbn:
          type: string
          description: The unique "barcode" for this book (ISBN). We use this to identify
            exactly which book edition we are talking about.
        title:
          type: string
          description: The name printed on the cover.
        publicationDate:
          type: string
          format: date
          description: When this book was released to the public.
        text:
          type: string
          description: "The full story or content of the book.  Since this can be\
            \ very long, we store it in a special way (Large Object) to keep the database\
            \ fast."
        type:
          type: string
          description: |-
            Categorizes the item (e.g., is it a regular Book or a Magazine?).
              - NOVEL: A fictional narrative story.  Examples: "Pride and Prejudice", "Harry Potter", "Dune". These are creative works meant for entertainment or artistic expression.
              - BIOGRAPHY: A written account of a real person's life.  Examples: "Steve Jobs" by Walter Isaacson, "The Diary of a Young Girl". These are non-fiction historical records of an individual.
              - TEXTBOOK: An educational book used for study.  Examples: "Calculus: Early Transcendentals", "Introduction to Java Programming". These are designed for students and are often used as reference material in academic courses.
              - MAGAZINE: A periodical publication intended for general readers.  Examples: Time, National Geographic, Vogue. These contain various articles, are published frequently (weekly/monthly), and often have a glossy format.
              - JOURNAL: A scholarly or professional publication.  Examples: The New England Journal of Medicine, Harvard Law Review. These focus on academic research or trade news and are written by experts for other experts.
          enum:
            - NOVEL
            - BIOGRAPHY
            - TEXTBOOK
            - MAGAZINE
            - JOURNAL
        publisher:
          $ref: "#/components/schemas/Publisher"
          description: "The company that published this book.  Performance Note: We\
            \ only load this information if you specifically ask for it (\"Lazy\"\
            ), which saves memory."
        authors:
          type: array
          description: The list of people who wrote this book.
          items:
            $ref: "#/components/schemas/Author"
          uniqueItems: true
    Author:
      type: object
      description: A person who writes books.
      properties:
        ssn:
          type: string
          description: The author's unique government ID (SSN).
        name:
          type: string
          description: The full name of the author.
        address:
          $ref: "#/components/schemas/Address"
          description: "Where the author lives. This information is stored inside\
            \ the Author table, not a separate one."
    Publisher:
      type: object
      description: A company that produces and sells books.
      properties:
        id:
          type: integer
          format: int64
          description: "The unique internal ID for this publisher.  This is a number\
            \ generated automatically by the system. Users usually don't need to memorize\
            \ this, but it's used by the database to link books to their publishers."
        name:
          type: string
          description: "The official business name of the publishing house.  Example:\
            \ \"Penguin Random House\" or \"O'Reilly Media\"."

