<div class="frame-code-container {% if frames is empty %}empty{% endif %}">
  {% for frame in frames %}
  <div class="frame-code {% if loop.index == 0 %}active{% endif %}" id="frame-code-{{ loop.index }}">
    <div class="frame-file">
      {% if frame.open %}
      <a href="{{ editorHref | escape }}" class="editor-link">
        Open:
        <strong>{{ frame.fileName | escape }}</strong>
      </a>
      {% else %}
      <strong>{{ frame.fileName | escape }}</strong>
      {% endif %}
    </div>

    {% if frame.hasSource %}
    <pre class="code-block line-numbers"
         data-line="{{ frame.line }}"
         data-line-offset="{{ frame.lineStart }}"
         data-start="{{ frame.lineStart }}"
    ><code class="language-php">{{ frame.source | escape }}</code></pre>
    {% endif %}

    <div class="frame-comments {% if frame.comments is empty %}empty{% endif %}">
      {% for comment in frame.comments %}
      <div class="frame-comment" id="comment-{{ loop.parent.loop.index }}-{{ loop.index }}">
        <span class="frame-comment-context">{{ comment.class.name | escape }}</span>
        {{ comment.message | escape }}
      </div>
      {% endfor %}
    </div>

  </div>
  {% endfor %}
</div>
