<div class="frame-code-container {{#if frames.size}}empty{{/if}}">
   {{#each frames as |frame|}} 
      <div class="frame-code {{#if @first}} active{{/if}}" id="frame-code-{{@index}}">
        <div class="frame-file">
          {{#if frame.open}}
            <a href=" echo $editorHref " class="editor-link" echo ($handler->getEditorAjax($filePath, (int) $line) ? ' data-ajax' : '') >
              Open:
              <strong>{{frame.fileName}}</strong>
            </a>
          {{else}}
            <strong>{{frame.fileName}}</strong>
          {{/if}}
        </div>
          {{#if frame.source}}
            <pre id="frame-code-linenums-{{@index}}" class="code-block linenums:{{frame.lineStart}}">{{frame.source}}</pre>
          {{/if}}
        {{#if frame.args}}
          <div class="frame-file">
              Arguments
          </div>
          <div id="frame-code-args-{{@index}}" class="code-block frame-args">
              {{frame.args}}
          </div>
        {{/if}}
        <div class="frame-comments {{#if (empty frame.comments)}}empty{{/if}}">
          {{#each frame.comments as |comment|}}
            <div class="frame-comment" id="comment-{{@index}}">
              <span class="frame-comment-context">{{comment.context}}</span>
              {{comment.text}}
            </div>
          {{/each}}
        </div>
      </div>
  {{/each}}
</div>

