<header>
  <ul class="navbar">
    <li class="{% if page.dir == '/' %}selected{% endif %}"><a href="/">home</a></li>
    <li class="{% if page.dir == '/quickstart' %}selected{% endif %}"><a href="/quickstart">quick start</a></li>
    <li class="{% if page.dir == '/doc' %}selected{% endif %}"><a href="/doc">doc</a></li>
    <li class="apidocs"><a href="/apidocs">api docs</a></li>
    <li><a href="https://github.com/jooby-project/jooby">view on github</a></li>
    <li class="faq"><a href="/faq">faq</a></li>
  </ul>
</header>
