<header>
  <ul class="navbar">
    <li class="{% if page.dir == '/' %}selected{% endif %}"><a href="/">home</a></li>
    <li class="{% if page.dir == '/quickstart' %}selected{% endif %}"><a href="/quickstart">quick start</a></li>
    <li class="{% if page.dir == '/doc' %}selected{% endif %}"><a href="/doc">doc</a></li>
    <li class="{% if page.dir == '/modules' %}selected{% endif %}"><a href="/modules">modules</a></li>
    <li class="{% if page.dir == '/help' %}selected{% endif %}"><a href="/help">help and support</a></li>
    <li class="{% if page.dir == '/faq' %}selected{% endif %}"><a href="/faq">faq</a></li>
    <li class="apidocs"><a href="/apidocs">api docs</a></li>
  </ul>
</header>
