<div class="highlight"><pre><code class="language-js" data-lang="js"><span class="cm">/**</span>
<span class="cm"> * Creates a new App via: jooby()</span>
<span class="cm"> */</span>
<span class="kd">var</span> <span class="nx">app</span> <span class="o">=</span> <span class="nx">jooby</span><span class="p">();</span>

<span class="cm">/**</span>
<span class="cm"> * Add routes</span>
<span class="cm"> */</span>
<span class="nx">app</span><span class="p">.</span><span class="nx">get</span><span class="p">(</span><span class="s1">&#39;/&#39;</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="s1">&#39;Hey Jooby!&#39;</span><span class="p">);</span>
</code></pre></div>