<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <style>{{stylesheet | raw}}</style>
  </head>
  <body>

    <div class="Whoops container">
      <div class="stack-container">
        <div class="left-panel cf{%if frames.size==0%} empty{%endif%}">
          <header>
            {% include "header" %}
          </header>

          <div class="frames-description">
            Stack frames ({{frames.size}}):
          </div>

          <div class="frames-container">
            {% include "frame_list" %}
          </div>
        </div>
        <div class="details-container cf">
          {% include "frame_code" %}
          {% include "env_details" %}
        </div>
      </div>
    </div>

    <script>{{zepto | raw}}</script>
    <script>{{clipboard | raw}}</script>
    <script>{{javascript | raw}}</script>
  </body>
</html>