<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <script type="text/javascript">

    function submitForm() {
      document.form.submit();
    }

    function onKeyPressEvent(event) {
      var key = event.keyCode || event.which;
      if (key === 13) {
        if (event.preventDefault) {
          event.preventDefault();
        } else {
          event.returnValue = false;
        }

        submitForm('');
        return false;
      }
    }
  </script>
</head>
<body onload="document.form.username.focus();">
<h3>Login</h3>
<p style="color: red;">
  {{error}}
</p>
<label>Login with username and password:</label>
<form name="form" action="/callback?client_name=FormClient" method="POST">
  <input name="username" onkeypress="onKeyPressEvent(event)" value="{{username}}" />
  <p></p>
  <input type="password" name="password" onkeypress="onKeyPressEvent(event)" />
  <p></p>
  <input type="submit" value="Submit" />
</form>
<label>Or login using:</label>
<ul>
  <li><a href="/google">Google</a></li>
  <li><a href="/twitter">Twitter</a></li>
</ul>
</body>
</html>
