<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5p [%d{ISO8601}] [%thread] %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.jooby.internal.SessionManager" level="DEBUG" />

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
