/**
 * Global styles
 */
html,
body {
  height:100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #FBFAF7;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-variant: normal;
  font-family: 'Ubuntu Mono', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h3, h4, h5, h6 {
  font-weight: bold;
  font-variant: bold;
}

section h1,
section h2,
section h3 {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #D7D8C8;
}

td,
th {
  padding: 8px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.logo {
  padding: 0 5px;
}

.right {
  float: right;
}

.img-replace {
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: center center;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.menu-icon {
  display: none;
  padding: 0 5px;
}

a.version {
  text-decoration: none;
}

a.version span {
  font-size: 12px;
  vertical-align: sub;
}

a:hover.version span {
  border-bottom: 3px solid #da4939;
}

/**
 * Header
 */
header {
  background-color: #34302d;
  border-top: 4px solid #da4939;
  font-family: 'Ubuntu Mono', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header a {
  color: #eee;
}

header h1 {
  margin: 0;
  display: inline-block;
}

header h1 a {
  text-decoration: none;
}

nav ul {
  line-height: 20px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  background-color: #34302d;
}

nav ul li a {
  font-size: 14px;
  padding: 27px 20px;
  text-decoration: none;
}

nav ul li.active a span,
nav ul li a:hover span {
  padding-bottom: 5px;
  border-bottom: 3px solid #da4939;
}

.loop {
  font-weight: lighter;
  text-align: center;
  vertical-align: sub;
  font-size: 50px;
}

/**
 * Body
 */
section {
  padding: 0 5px 45px; /* Height of the footer */
}

section p {
  line-height: 1.8em;
}

section a {
  color: #da4939;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

ul.nav-lang li {
  font-family: 'Ubuntu Mono', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  list-style: none;
  cursor: pointer;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 4px;
}

ul.nav-lang li.active,
ul.nav-lang li:hover {
  border-bottom: 3px solid #da4939;
}

ul.lang, ul.nav-lang {
  margin: 0;
  padding: 0;
}

ul.lang li {
  list-style: none;
}

ul.lang li .highlight {
  display: none;
  height: 238px;
}

ul.lang li.active .highlight {
  display: inherit;
}

ul.lang li .highlight pre {
  margin-top: 3px;
  height: 228px;
  min-height: 228px;
}

/**
 * Footer
 */
footer {
  background-color: #34302d;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;   /* Height of the footer */
}

footer ul.social-media {
  margin: 0;
  padding: 5px 0 0;
  float: right;
}

footer ul.social-media li a {
  width: 32px;
  height: 32px;
  padding: 0;
  background: #FBFAF7;
  background-image: url("/images/socials-icons.svg");
  background-size: 224px 64px;
  border-radius: 0.25em;
  border-bottom-color: transparent;
}

footer ul.social-media li a:hover {
  background-color: #da4939;
}

/* twitter */
footer ul.social-media li a.gh {
  background-position: -32px 0;
}

footer ul.social-media li a:hover.gh {
  background-position: -32px -32px;
}

/* github */
footer ul.social-media li a.twitter {
  background-position: 0 0;
}

footer ul.social-media li a:hover.twitter {
  background-position: 0 -32px;
}

footer .disclamer {
  color: #eee;
  font-size: 12px;
  margin: 0;
  padding: 25px 0 0 0;
}

footer .disclamer a {
  color: #da4939;
}

/**
 * Code blocks
 */
code {
  color: #da4939;
  border-radius: 4px;
  background: #FDFEFB;
  border: 1px solid #D7D8C8;
  padding: 2px 5px;
  font-size: 14px;
}

pre code {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #000;
  font-size: 14px;
  border-radius: inherit;
  border: none;
  background-color: transparent;
  padding: 0;
}

pre {
  padding: 4px 12px;
  background: #FDFEFB;
  border-radius: 4px;
  border: 1px solid #D7D8C8;
  overflow: auto;
  overflow-y: hidden;
  margin-bottom: 32px;
}

pre code.language-properties .err {
  background-color: transparent;
}

.highlight {
  background-color: transparent;
}

/* Copy button */

.copy-bar {
  float: right;
  padding: 5px;
}

.copy-button {
  color: #da4939;
  cursor: pointer;
}

.copy-button.zeroclipboard-is-hover {
  cursor: pointer;
}

.copy-button.zeroclipboard-is-active {
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  nav {
    position: relative;
  }

  .menu-icon {
    display: inline-block;
    float: right;
    padding-top: 20px;
  }

  nav ul,
  nav:active ul {
    margin: 0;
    padding: 0;
    top: 60px;
    position: absolute;
    display: none;
    width: 100%;
  }

  nav ul li {
    display: block;
    height: 28px;
  }

  nav:hover ul {
    display: block;
  }

  nav ul li a {
    padding: 5px 10px;
  }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  nav ul li a {
    padding: 5px 5px;
  }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

  nav ul li a {
    padding: 5px 10px;
  }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
}

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- Asus Nexus 7 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) {
}

/* Portrait */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331)
  and (-webkit-max-device-pixel-ratio: 1.332)
  and (orientation: portrait) {

  nav ul li a {
    padding: 5px 10px;
  }
}

/* Landscape */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: landscape) {
}
