h3[id$="-exports"] {
  padding-bottom: 10px;
}

.share-network {
  padding-bottom: 20px;
}

.codehilite pre.cm {
  padding-top: 0;
  padding-bottom: 0;
}
code .kn,
code .kd,
code .k {
  color: #21474C;
  font-weight: bold;
}

code .c,
code .c1,
code .cm {
  color: #999988;
}

code .nt {
  color: #656565;
}

code .na {
  color: #4FC676;
  font-weight: bold;
}

code .s,
code .s1 {
  color: #F9B334;
}

code .kt {
  color: #71A7FE;
}

code .nf {
  color: #F56330;
}

.code-lang-box .nav-lang {
  margin-bottom: 12px;
}
.code-lang-box .nav-lang li {
  display: inline-block;
  font-size: 24px;
  line-height: 35px;
  font-weight: 300;
  height: 35px;
  color: #656565;
  padding: 0 25px;
  border-radius: 10px;
  border: 1px solid #c3c3c3;
  cursor: pointer;
  letter-spacing: 3px;
  transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.code-lang-box .nav-lang li + li {
  margin-left: 8px;
}
.code-lang-box .nav-lang li:hover {
  background-color: #d9d8d8;
}
.code-lang-box .nav-lang li.active {
  color: white;
  background-color: #f9b334;
  border-color: #f9b334;
}
.code-lang-box .lang li {
  display: none;
}
.code-lang-box .lang li.active {
  display: block;
}
.code-lang-box .lang .highlighter-rouge {
  padding: 15px 40px 28px 28px;
}
.code-lang-box .lang .highlighter-rouge code {
  font: 18px/20px "Arial" !important;
  letter-spacing: 1px;
}
.code-lang-box pre {
  padding: 0;
}

pre {
  overflow: auto;
  overflow-y: hidden;
  margin: 0;
  min-height: 18px;
}

code.highlighter-rouge,
code {
  letter-spacing: 1px;
  color: #21474c;
}

p > code.highlighter-rouge,
li > code.highlighter-rouge {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  font-size: 14px !important;
  padding: 2px 4px;
  word-wrap: break-word;
}

.highlighter-rouge {
  border: 1px solid #e3e3e3;
  border-radius: 9px;
  background-color: white;
  overflow: hidden;
  position: relative;
}
.highlighter-rouge .copy-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-left: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  background-color: #939393;
  cursor: pointer;
}
.highlighter-rouge .copy-bar span {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.highlighter-rouge .copy-bar:hover span {
  opacity: .7;
}
.highlighter-rouge pre {
  padding: 10px 40px 12px 10px;
}

.site-footer {
  background-color: #f4f4f4;
  padding: 18px 0 17px;
  letter-spacing: 1.5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.site-footer p {
  color: #21474c;
  line-height: 35px;
}
.site-footer p a {
  color: #21474c;
  text-transform: uppercase;
  font-weight: bold;
}
.site-footer p a:hover {
  color: #f9b334;
}
.site-footer .altquimia {
  float: left;
  margin-left: 180px;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-top: 9px;
}
.site-footer .altquimia a {
  color: #ffd800;
  font-weight: bold;
}
.site-footer .altquimia a:hover {
  text-decoration: underline;
}
.site-footer .follow-us p {
  text-transform: uppercase;
  float: left;
  margin-right: 6px;
}
.site-footer .follow-us a {
  float: left;
  margin-left: 12px;
}
.site-footer .follow-us a:hover {
  opacity: .7;
}

.row,
.row-builder {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.col {
  float: left;
}

.site-header {
  background-color: #21474c;
  padding: 19px 0 18px;
  height: 69px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.site-header .site-nav {
  float: right;
  margin-top: 8px;
}
.site-header .site-nav li {
  float: left;
}
.site-header .site-nav li + li {
  margin-left: 26px;
}
.site-header .site-nav li.active a {
  color: #f9b334;
}
.site-header .site-nav li.active a:after {
  bottom: 0;
}
.site-header .site-nav a {
  color: white;
  display: block;
  position: relative;
  letter-spacing: 3px;
  overflow: hidden;
  padding-bottom: 7px;
}
.site-header .site-nav a:hover {
  color: #f9b334;
}
.site-header .site-nav a:hover:after {
  bottom: 0;
}
.site-header .site-nav a:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #f9b334;
  transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.row:after,
.row-builder:after,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.page-home {
  padding-top: 0;
}
.page-home .site-header {
  background-color: rgba(33, 71, 76, 0.9);
}

.home-top {
  height: 544px;
  background: url(../images/top-home-image.jpg) no-repeat center top;
  padding-top: 163px;
  text-align: center;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.home-top h2 {
  color: white;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 50px;
  font-weight: normal;
  position: relative;
  letter-spacing: 10px;
  margin-top: 43px;
  padding-bottom: 29px;
  margin-bottom: 47px;
}
.home-top h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -130px;
  width: 260px;
  height: 4px;
  background-color: #fee2a7;
  opacity: .3;
}
.home-top h1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  color: #f9b334;
  letter-spacing: 3px;
  max-width: 625px;
  margin: 0 auto;
}
.home-top h1 strong {
  text-transform: uppercase;
}

.home-slider {
  width: 100%;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 90px;
  position: relative;
}
.home-slider:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #fcfcfc;
}
.home-slider .swiper-container {
  z-index: 2;
  background-color: white;
}
.home-slider .swiper-pagination {
  left: 0;
  bottom: -52px !important;
  width: 100%;
  text-align: center;
}
.home-slider .swiper-pagination .swiper-pagination-bullet {
  background-color: #e3e3e5;
  width: 86px;
  height: 9px;
  border-radius: 0;
  margin: 0 5px;
  opacity: 1;
  transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.home-slider .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #f9b334;
}
.home-slider .swiper-slide {
  position: relative;
  height: 256px;
  padding-left: 354px;
  background-color: white;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.home-slider .swiper-btn {
  position: absolute;
  top: 50%;
  left: 0;
  width: 22px;
  height: 48px;
  cursor: pointer;
  z-index: 2;
  overflow: hidden;
  margin-top: -24px;
}
.home-slider .swiper-btn:hover:after, .home-slider .swiper-btn:hover:before {
  background-color: #21474c;
}
.home-slider .swiper-btn:after, .home-slider .swiper-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 3px;
  height: 30px;
  background-color: #a8b0b7;
  transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.home-slider .swiper-btn:before {
  top: 20px;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.home-slider .swiper-btn-next {
  left: auto;
  right: 0;
}
.home-slider .swiper-btn-next:after {
  left: 9px;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.home-slider .swiper-btn-next:before {
  left: 9px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.home-slider .swiper-btn.swiper-button-disabled {
  opacity: .5;
}
.home-slider .swiper-btn.swiper-button-disabled:hover:after, .home-slider .swiper-btn.swiper-button-disabled:hover:before {
  background-color: #a8b0b7;
}
.home-slider .slider-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 353px;
  height: 100%;
  border-right: 1px solid #e3e3e3;
  background-color: #fcfcfc;
}
.home-slider .circle {
  border-radius: 50%;
  background-color: #21474c;
  width: 160px;
  height: 160px;
  position: relative;
  float: right;
  margin: 45px 84px 0 0;
}
.home-slider .circle span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.home-slider .slider-data {
  padding: 71px 49px 0;
}
.home-slider h3 {
  font-size: 35px;
  line-height: 36px;
  font-weight: bold;
  color: #21474c;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 14px;
}
.home-slider p {
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  color: #656565;
  letter-spacing: 3px;
}
.home-slider p a {
  color: #f9b334;
}
.home-slider p a:hover {
  text-decoration: underline;
}

.home-actions {
  background-color: #f9b334;
  position: relative;
  margin-bottom: 10px;
}
.home-actions:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #21474c;
  z-index: 1;
}
.home-actions .row {
  position: relative;
  z-index: 2;
}
.home-actions .mod {
  float: left;
  width: 50%;
  padding: 65px 20px 0;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.home-actions .mod .mod-header .mod-title {
  letter-spacing: 4.5px;
}

.mod .mod-header .mod-title {
  color: #21474c;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 38px;
  font-weight: normal;
  text-align: center;
  padding-bottom: 18px;
  position: relative;
  letter-spacing: 3px;
}
.mod .mod-header .mod-title:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 190px;
  height: 3px;
  background-color: red;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}
.mod.mod-full-code {
  background-color: #f4f4f4;
  padding-top: 73px;
  padding-bottom: 92px;
}
.mod.mod-full-code .mod-title:after {
  background-color: #e3e3e3;
  width: 134px;
}
.mod.mod-features {
  padding-bottom: 67px;
}
.mod.mod-features .mod-title {
  color: #f9b334;
  margin-bottom: 61px;
}
.mod.mod-features .mod-title:after {
  background-color: #32686f;
}
.mod.mod-features .mod-content {
  position: relative;
}
.mod.mod-features .swiper-slide {
  background-color: #21474c;
  padding-bottom: 92px;
}
.mod.mod-features .swiper-pagination {
  left: 0;
  bottom: 0 !important;
  width: 100%;
  text-align: center;
}
.mod.mod-features .swiper-pagination .swiper-pagination-bullet {
  background-color: #32686f;
  width: 62px;
  height: 9px;
  border-radius: 0;
  margin: 0 5px;
  opacity: 1;
  vertical-align: top;
  transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.mod.mod-features .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #f9b334;
}
.mod.mod-features dl dt {
  display: block;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 23px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 4.5px;
  margin-bottom: 10px;
}
.mod.mod-features dl dd {
  margin: 0;
  padding: 0;
  display: block;
  color: white;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1.5px;
  line-height: 22px;
}
.mod.mod-features dl dd a {
  color: #f9b334;
}
.mod.mod-features dl dd a:hover {
  text-decoration: underline;
}
.mod.mod-learn .mod-title {
  color: white;
  margin-bottom: 32px;
}
.mod.mod-learn .mod-title:after {
  background-color: #ffcc70;
  width: 134px;
}
.mod.mod-learn .mod-content {
  text-align: center;
}
.mod.mod-learn .mod-content span {
  margin-bottom: 23px;
}
.mod.mod-learn .mod-content p {
  color: white;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 2.5px;
}
.mod.mod-learn .mod-content p a {
  font: inherit;
  color: inherit;
  text-decoration: underline;
}
.mod.mod-learn .mod-content p a:hover {
  color: #21474c;
}

a.module-box:hover [class*="icon-"] {
  opacity: .7;
}

.module-box {
  display: inline-block;
  vertical-align: top;
  background-color: #f9f9f9;
  border: 1px solid #e3e3e3;
  width: 380px;
  height: 245px;
  border-radius: 10px;
  font-size: 14px;
  margin: 0 15px 30px;
  padding: 114px 28px 0;
  color: #21474c;
  position: relative;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.module-box [class*="icon-"] {
  position: absolute;
  top: 57px;
  left: 50%;
  transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.module-box .module-title {
  display: block;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 11px;
  margin-bottom: 20px;
}
.module-box .module-excerpt {
  display: block;
  color: #656565;
  letter-spacing: 0.5px;
  line-height: 22px;
}
.module-box .module-excerpt a {
  color: #d18c10;
}
.module-box .module-excerpt a:hover {
  text-decoration: underline;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/*! Iconosur custom version */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  font: 14px/16px "Raleway";
  position: relative;
  min-height: 100%;
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
  padding-top: 69px;
  padding-bottom: 70px;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a {
  text-decoration: none;
  transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ul li,
ol,
ol li {
  margin: 0;
  padding: 0;
}

ul,
ul li {
  list-style: none;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
  vertical-align: top;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 0;
  padding: 0;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/** Blocks */

blockquote {
  padding-left: 10px;
  margin: 10px 5px 20px 10px;
  border-left: 5px solid #21474c;
  color: #21474c;
}

.section-content blockquote,
.section-content blockquote p {
  color: #21474c;
}

.page-modules .site-content > .row {
  max-width: 1230px;
  font-size: 0;
  text-align: center;
}

.page-section {
  padding-top: 160px;
}
.page-section .site-footer {
  margin-top: 30px;
}

.page-sidebar .section-content {
  float: right;
  width: 70%;
}

.section-title {
  position: fixed;
  top: 69px;
  left: 0;
  z-index: 20;
  background-color: #FEE1AE;
  height: 55px;
  width: 100%;
}
.section-title a {
  float: left;
  margin: 13px 19px 0 0;
}
.section-title a:hover {
  opacity: .6;
}
.section-title h1 {
  color: #656565;
  text-transform: upperacse;
  font-size: 24px;
  line-height: 55px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5.5px;
}

.section-content {
  color: #21474c;
}
.section-content h2 {
  margin-top: 40px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 1px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 22px;
}
.section-content h2:first-child {
  margin-top: 0;
}
.section-content h3 {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.section-content h4 {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1px;
  margin-bottom: 17px;
}
.section-content .datalist {
  margin-bottom: 40px;
}
.section-content .datalist.active .datalist-title:after {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.section-content .datalist.active .datalist-title:before {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.section-content .datalist .datalist-title {
  position: relative;
  cursor: pointer;
}
.section-content .datalist .datalist-title:after, .section-content .datalist .datalist-title:before {
  content: "";
  position: absolute;
  bottom: 17px;
  right: 5px;
  width: 2px;
  height: 15px;
  background-color: #a8b0b7;
  transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.section-content .datalist .datalist-title:before {
  right: 15px;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.section-content .datalist .datalist-content {
  display: block;
}
.section-content .status-box {
  display: inline-block;
  background-color: #5c5c5c;
  color: white;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  letter-spacing: 1px;
  padding-left: 17px;
  overflow: hidden;
  margin-bottom: 10px;
}
.section-content .status-box span {
  margin-left: 17px;
  padding-right: 10px;
  display: inline-block;
  background-color: #4dc71f;
  padding-left: 11px;
}
.section-content hr {
  width: 146px;
  height: 3px;
  background-color: #e3e3e3;
  border: none;
  display: block;
  margin: 10px 0 32px;
}
.section-content ul li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 14px;
  line-height: 22px !important;
  word-wrap: break-word;
}
.section-content ul li:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 2px;
  height: 7px;
  background-color: #f9b334;
}
.section-content ul code {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  font-size: 14px !important;
  padding: 2px 4px;
  word-wrap: break-word;
}
.section-content ul p {
  margin-bottom: 0;
}
.section-content ol {
  margin-bottom: 40px;
}
.section-content ol li {
  margin-bottom: 14px;
}
.section-content ol p {
  margin-bottom: 0;
}
.section-content li,
.section-content p {
  color: #656565;
  letter-spacing: 1px;
  margin-bottom: 12px;
  line-height: 22px;
}
.section-content p a,
.section-content li a {
  color: #d18c10;
}
.section-content p a:hover,
.section-content li a:hover {
  text-decoration: underline;
}
.section-content .highlighter-rouge {
  margin-bottom: 24px;
}

.section-sidebar {
  float: left;
  overflow: auto;
  width: 280px;
}
.section-sidebar ul li {
  margin-bottom: 12px;
}
.section-sidebar ul li.active > a {
  color: #f9b334;
  position: relative;
}
.section-sidebar ul li.active > a:before {
  content: "";
  position: absolute;
  top: 6px;
  right: -10px;
  width: 2px;
  height: 9px;
  background-color: #f9b334;
}
.section-sidebar ul li a {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #21474c;
}
.section-sidebar ul li a:hover {
  color: #f9b334;
}
.section-sidebar ul ul {
  margin-top: 15px;
  padding-left: 16px;
  position: relative;
}
.section-sidebar ul ul:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  bottom: 3px;
  width: 1px;
  background-color: #5f858a;
}
.section-sidebar ul ul li {
  margin-bottom: 0;
}
.section-sidebar ul ul li a {
  font-size: 14px;
  line-height: 16px;
  color: #5f858a;
}
.section-sidebar ul ul li + li {
  margin-top: 4px;
}

/**
* Swiper 3.1.7
* Most modern mobile touch slider and framework with hardware accelerated transitions
* 
* http://www.idangero.us/swiper/
* 
* Copyright 2015, Vladimir Kharlampidi
* The iDangero.us
* http://www.idangero.us/
* 
* Licensed under MIT
* 
* Released on: October 10, 2015
*/
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-no-flexbox .swiper-slide {
  float: left;
}

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

/* Arrows */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

/* Pagination Styles */
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}

.swiper-container-vertical > .swiper-pagination {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  -moz-transform: translate3d(0px, -50%, 0);
  -o-transform: translate(0px, -50%);
  -ms-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}

.swiper-container-horizontal > .swiper-pagination {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0 5px;
}

/* 3D Container */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */
}

/* Coverflow */
.swiper-container-coverflow .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px;
}

/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
  pointer-events: none;
}

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

/* Cube */
.swiper-container-cube {
  overflow: visible;
}

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}

/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}
