.hide-tablet,
.hide-mobile,
.show-desktop {
  display: block;
}

.show-tablet,
.show-mobile,
.hide-desktop {
  display: none;
}

@media only screen and (max-width: 1400px), only screen and (max-device-width: 1400px) {

  .page-sidebar .row {
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .page-sidebar .section-sidebar {
    width: 30%;
  }

  .page-sidebar .section-content {
    margin-left: 33%;
  }

}

@media only screen and (max-width: 1200px), only screen and (max-device-width: 1200px) {
  .hide-desktop,
  .hide-mobile,
  .show-tablet {
    display: block;
  }

  .show-desktop,
  .show-mobile,
  .hide-tablet {
    display: none;
  }

  .row {
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .site-header .site-nav li + li {
    margin-left: 10px;
  }
  .site-header .site-nav a {
    font-size: 12px;
  }

  .site-footer .altquimia {
    margin-left: 0;
  }

  .section-sidebar {
    width: 30%;
  }

  .home-top {
    padding-top: 120px;
  }

  .home-slider .swiper-slide {
    padding-left: 250px;
  }
  .home-slider .slider-icon {
    width: 250px;
  }
  .home-slider .slider-data {
    padding: 40px 20px 0;
  }
  .home-slider .circle {
    float: none;
    display: block;
    margin: 45px auto 0;
  }

  .module-box {
    width: 45%;
    margin: 0 2% 30px;
  }
}
@media only screen and (max-width: 967px), only screen and (max-device-width: 967px) {
  .hide-desktop,
  .hide-mobile,
  .show-tablet {
    display: block;
  }

  .show-desktop,
  .show-mobile,
  .hide-tablet {
    display: none;
  }

  .home-slider h3 {
    font-size: 28px;
    line-height: 32px;
  }
  .home-slider p {
    font-size: 24px;
    line-height: 28px;
  }

  .mod-full-code .mod-title {
    margin-bottom: 20px;
  }

  .section-sidebar li.active a:before {
    display: none;
  }

  .module-box .module-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    padding-bottom: 7px;
  }

  .site-footer {
    position: relative;
    margin-bottom: 45px;
    height: 180px;
    padding: 112px 0 0;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .site-footer .pull-left {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    width: 100%;
    text-align: center;
  }
  .site-footer .follow-us {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 18px;
    left: 0;
  }
  .site-footer .follow-us p {
    clear: both;
    width: 100%;
    margin-bottom: 6px;
  }
  .site-footer .follow-us a {
    float: none;
    display: inline-block;
    margin: 0 6px;
  }
  .site-footer .altquimia {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 100%;
    font-size: 12px;
    line-height: 16px;
    margin-top: 15px;
  }

  .highlight {
    padding-right: 0 !important;
  }
  .highlight .copy-bar {
    display: none;
  }
  .highlight pre {
    padding-right: 10px !important;
  }
}
@media only screen and (max-width: 679px), only screen and (max-device-width: 679px) {
  .hide-desktop,
  .hide-tablet,
  .show-mobile {
    display: block;
  }

  .show-desktop,
  .show-tablet,
  .hide-mobile {
    display: none;
  }

  .site-header {
    height: 49px;
    padding: 12px 0 0;
  }
  .site-header img {
    height: 25px;
    width: auto;
  }
  .site-header .site-nav {
    background-color: rgba(33, 71, 76, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
    margin-top: 0;
    padding-top: 69px;
    overflow: auto;
    opacity: 0;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform-origin: top right;
    -ms-transform-origin: top right;
    -moz-transform-origin: top right;
    -webkit-transform-origin: top right;
  }
  .site-header .site-nav.active {
    opacity: 1;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
  }
  .site-header .site-nav.active li {
    opacity: 1;
  }
  .site-header .site-nav.active li + li {
    transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
  }
  .site-header .site-nav.active li + li + li {
    transition-delay: 0.23s;
    -ms-transition-delay: 0.23s;
    -moz-transition-delay: 0.23s;
    -webkit-transition-delay: 0.23s;
  }
  .site-header .site-nav.active li + li + li + li {
    transition-delay: 0.26s;
    -ms-transition-delay: 0.26s;
    -moz-transition-delay: 0.26s;
    -webkit-transition-delay: 0.26s;
  }
  .site-header .site-nav.active li + li + li + li + li {
    transition-delay: 0.29s;
    -ms-transition-delay: 0.29s;
    -moz-transition-delay: 0.29s;
    -webkit-transition-delay: 0.29s;
  }
  .site-header .site-nav.active li + li + li + li + li + li {
    transition-delay: 0.32s;
    -ms-transition-delay: 0.32s;
    -moz-transition-delay: 0.32s;
    -webkit-transition-delay: 0.32s;
  }
  .site-header .site-nav.active li + li + li + li + li + li + li {
    transition-delay: 0.35s;
    -ms-transition-delay: 0.35s;
    -moz-transition-delay: 0.35s;
    -webkit-transition-delay: 0.35s;
  }
  .site-header .site-nav li {
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  .site-header .site-nav li + li {
    margin: 23px 0 0;
  }
  .site-header .site-nav a {
    padding-bottom: 0;
    font-size: 22px;
    line-height: 24px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .site-header .site-nav a:after {
    display: none;
  }
  .site-header .open-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 49px;
    height: 49px;
    z-index: 41;
  }
  .site-header .open-menu span {
    margin: 23px 0 0 13px;
    width: 26px;
    height: 2px;
    background-color: white;
    position: relative;
    display: block;
    transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  .site-header .open-menu span:after, .site-header .open-menu span:before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  .site-header .open-menu span:before {
    top: 8px;
  }
  .site-header .open-menu.active span {
    background-color: transparent;
    transition: all 0.2s 0.2s;
    -ms-transition: all 0.2s 0.2s;
    -moz-transition: all 0.2s 0.2s;
    -webkit-transition: all 0.2s 0.2s;
  }
  .site-header .open-menu.active span:before, .site-header .open-menu.active span:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 0.2s 0s, transform 0.3s 0.3s;
    -ms-transition: top 0.2s 0s, transform 0.3s 0.3s;
    -moz-transition: top 0.2s 0s, transform 0.3s 0.3s;
    -webkit-transition: top 0.2s 0s, transform 0.3s 0.3s;
  }
  .site-header .open-menu.active span:before {
    transform: rotate(-45deg);
  }

  .home-top {
    padding-top: 80px;
    height: 323px;
  }
  .home-top > span {
    transform: scale(0.6);
    -ms-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -webkit-transform: scale(0.6);
  }
  .home-top h2 {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 3px;
    margin-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .home-top h2:after {
    width: 156px;
    height: 2px;
    margin-left: -78px;
  }
  .home-top h1 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 2px;
    padding: 0 10px;
  }

  .home-slider .row {
    padding: 0;
  }
  .home-slider .swiper-btn {
    display: none;
  }
  .home-slider .swiper-pagination-bullet {
    width: 40px !important;
    height: 9px !important;
  }
  .home-slider .swiper-slide {
    height: 285px;
    padding: 0;
  }
  .home-slider .swiper-slide .slider-icon {
    position: relative;
    top: 0;
    left: 0;
    height: 126px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #e3e3e3;
  }
  .home-slider .swiper-slide .slider-icon .circle {
    margin: -80px 0 0 -80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0.5);
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
  .home-slider .swiper-slide .slider-data {
    padding: 30px 10px 0;
  }
  .home-slider h3 {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1px;
  }
  .home-slider p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
  }

  .mod .mod-header .mod-title {
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2px !important;
  }

  .mod-full-code {
    padding-top: 45px !important;
  }
  .mod-full-code .mod-header .mod-title {
    margin-bottom: 38px;
  }

  .code-lang-box .lang .highlight {
    padding: 0 40px 0 0;
  }
  .code-lang-box .lang .highlight code {
    font-size: 16px !important;
    line-height: 18px !important;
  }

  .nav-lang {
    overflow: hidden;
  }
  .nav-lang li {
    float: left;
    width: 48%;
    font-size: 20px !important;
    margin: 0 0 5px !important;
    padding: 0 !important;
    text-align: center;
  }
  .nav-lang li:nth-child(even) {
    float: right;
  }

  .home-actions {
    margin-bottom: 0;
    background-color: none;
  }
  .home-actions:after {
    display: none;
  }
  .home-actions .row {
    padding: 0 !important;
  }
  .home-actions .mod {
    width: 100% !important;
  }

  .mod-features {
    padding: 55px 10px 47px !important;
    background-color: #21474c;
  }
  .mod-features .mod-header .mod-title {
    padding-bottom: 24px;
    margin-bottom: 28px;
  }
  .mod-features dl dt {
    font-size: 18px !important;
    line-height: 20px !important;
    margin-bottom: 13px;
  }
  .mod-features dl dd {
    font-size: 14px !important;
    line-height: 20px !important;
  }
  .mod-features .swiper-slide {
    padding-bottom: 37px !important;
  }
  .mod-features .swiper-pagination-bullet {
    width: 32px !important;
    height: 9px !important;
  }

  .mod-learn {
    padding-top: 49px !important;
    padding-bottom: 46px !important;
  }
  .mod-learn .mod-header .mod-title {
    padding-bottom: 28px !important;
    line-height: 29px !important;
  }
  .mod-learn .mod-content span {
    margin-bottom: 34px !important;
  }
  .mod-learn .mod-content p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  .page-section {
    padding-top: 140px;
  }

  .section-title {
    top: 49px;
    height: 51px;
    line-height: 51px;
    text-align: center;
    font-size: 24px;
    z-index: 19;
  }
  .section-title a {
    position: absolute;
    margin: 0;
    top: 13px;
    left: 10px;
  }

  .section-content h2 {
    font-size: 22px;
    line-height: 26px;
  }
  .section-content p {
    line-height: 20px !important;
  }

  .page-sidebar {
    padding-top: 160px !important;
  }
  .page-sidebar .section-sidebar {
    position: fixed !important;
    top: 110px !important;
    left: 10px !important;
    bottom: auto !important;
    right: 10px !important;
    margin: 0;
    z-index: 19;
    width: auto;
    height: 33px;
    border-radius: 10px;
    border: 1px solid #c3c3c3;
    background-color: #f4f4f4;
    overflow: visible;
    padding: 0;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .page-sidebar .section-sidebar.active {
    height: auto !important;
    bottom: 20px !important;
  }
  .page-sidebar .section-sidebar.active > ul {
    display: block;
  }
  .page-sidebar .section-sidebar.active .menu-open:after {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .page-sidebar .section-sidebar.active .menu-open:before {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .page-sidebar .section-sidebar .menu-open {
    position: relative;
    top: -1px;
    left: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 35px;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    padding: 0 35px 0 15px;
    margin: 0 -1px;
    font-size: 18px;
    line-height: 33px;
    font-weight: 300;
    color: #656565;
    letter-spacing: 2px;
    background-color: white;
    z-index: 19;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .page-sidebar .section-sidebar .menu-open:after, .page-sidebar .section-sidebar .menu-open:before {
    content: "";
    position: absolute;
    top: 10px;
    right: 15px;
    width: 1px;
    height: 13px;
    background-color: #a8b0b7;
    transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .page-sidebar .section-sidebar .menu-open:before {
    right: 24px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .page-sidebar .section-sidebar > ul {
    z-index: 18;
    overflow: auto;
    position: absolute;
    top: 47px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 0 10px 10px;
    display: none;
  }
  .page-sidebar .section-sidebar ul:after {
    display: none;
  }
  .page-sidebar .section-sidebar ul ul {
    margin-top: 10px !important;
  }
  .page-sidebar .section-content {
    width: 100% !important;
    margin-left: 0;
  }

  .module-box {
    width: 100%;
    margin: 0 0 10px;
  }
}
