<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="A micro web framework">
    <meta name="keywords" content="Java, Micro Web Framework, Async, Easy to use, Micro, Sinatra, Express" />
    <title>jooby: A micro web framework</title>

    
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="/stylesheets/octicons.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/jooby.css">
    <!-- -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu+Mono&subset=latin">
    <!--<script src="/javascripts/scale.fix.js"></script>-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      {% include header.html %}
      <section class="container">
       {{content}}
      </section>
      {% include footer.html %}
    </div>
    <!-- -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
      window.jQuery || document.write('<script src="/javascripts/jquery-2.1.1.js"><\/script>');
    </script>
    <!-- -->
    <script src="//jooby.org/javascripts/ZeroClipboard.min.js"></script>
    <script src="/javascripts/jooby.js"></script>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    <!-- -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57151281-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
