<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>jooby by jooby-project</title>

    <link rel="stylesheet" href="{{site.path}}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.path}}/stylesheets/pygment_trac.css">
    <script src="{{site.path}}/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header style="display: none">
        <h1 class="header">jooby</h1>
        <p class="header">An Express inspired web framework for Java 8 (or higher).</p>

        <ul>
          <li><a class="buttons github" href="https://github.com/jooby-project/jooby">View On GitHub</a></li>
        </ul>

      </header>
      <section>
       {{content}}
      </section>
      <footer style="display: none">
        <p><small>Hosted on <a href="http://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
		
  </body>
</html>
