$BLUE: #1362B1;
$RED: #D32929;
$LIGHT_BLUE: #23AEDF;
$LIGHT_BLUE_ACTIVE: #64C5E9;
$DARK_BLUE: #125DAE;
$LIGHT_GRAY: #F0F0F0;
$DARK_GRAY: #797979;
$DARK_GRAY_ACTIVE: #8E8E8E;
$ERROR_RED: #D32929;
$ROJO: #D32929;

$MOBILE_BREAKPOINT: 600px;
$ROBOTO_CONDENSED: 'Roboto Condensed', sans-serif;
$PATH_IMAGES: '../../';
$OVERLAY_ZINDEX: 100;
$ABOVE_OVERLAY_ZINDEX: 101;

@mixin mobile {
  /** target mobile screen size and iPad portrait */
  @media (max-width: #{$MOBILE_BREAKPOINT}),
      only screen and (min-device-width: 768px)
      and (max-device-width: 1024px)
      and (orientation: portrait) {
    @content;
  }
}

@mixin mobile_only {
  /** target mobile screen size and NOT iPad portrait */
  @media (max-width: #{$MOBILE_BREAKPOINT}) {
    @content;
  }
}

@mixin iPadPortraitOnly {
  @media only screen and (min-device-width: 768px)
      and (max-device-width: 1024px)
      and (orientation: portrait) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$MOBILE_BREAKPOINT + 1px}) {
    @content;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin no-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin truncate() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

