<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%d{ISO8601}]-[%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <variable name="BUILD_LOG_LEVEL" value="${BUILD_LOG_LEVEL:-INFO}" />

  <logger name="io.grpc" level="DEBUG" />

  <logger name="io.grpc.netty.shaded" level="INFO" />

  <logger name="org.xnio" level="TRACE" />
  <logger name="io.undertow" level="TRACE" />

  <logger name="io.grpc.netty.shaded.io.grpc.netty.NettyClientHandler" level="DEBUG" />


  <root level="${BUILD_LOG_LEVEL}">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
