<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5p [%d{ISO8601}] [%thread] %logger: %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.apache" level="INFO" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
